@forward "usa-layout-grid" with (
    $theme-show-notifications: false
);

:host {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

form.usa-form.usa-form--large {
    width: 100%;
    max-width: 100vw;
}

input.usa-input.ng-invalid.ng-touched {
    border-color: red;
    border-width: 2px;
}

span.form-error-message {
    color: red;
    font-size: smaller;
}

.right-panel {
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
    .right-panel {
        margin-top: 0;
    }
}
